/*____COLORS____*/
$themeColor: #005E81;
$themeColorHover: #0E5068;
$light: #FFF;
$textLight: #FFF;
$textDark: #333;
$gray: #626262;
$dark-hover: #2D2D2D;
$light-hover: #EEE;

/*____MEDIA QUERY BREAKPOINTS____*/
$xxs: "(max-width : 320px)";
$xs: "(max-width : 768px)";
$sm: "(min-width : 768px)";
$md: "(min-width: 992px)";
$lg: "(min-width: 1200px)";