text {
    font: 12px Helvetica Neue, Helvetica, Arial, sans-serif;
    text-anchor: middle;
    pointer-events: none;
    alignment-baseline: middle;
}

circle {
    fill: #ccc;
}

.node:hover circle {
    fill: #FFA500;
}

.node path {
    /*fill: #FFEECA;*/
    opacity: 0.4;
    cursor: pointer;
    stroke: #ccc;
    stroke-width: 1px;
}

path.selected {
    fill: #FF0000 !important;
    opacity: 0.5 !important;
}

text.linklabelpart.selected {
    fill: #ff0000 !important;
}

.linklabel:hover text {
    fill: #777777
}

.selected path {
    /*fill: #FFC125 !important;*/
    fill: #FF4444 !important;
    opacity: 0.4 !important;
}

.node path:hover {
    fill: #FFA500;
}

.linklabelholder path {
    opacity: 0.0;
}

.linklabelholder text {
    font-size: 14;
    /*fill: #777777*/
}

.exampleLabelHolder {
    text-anchor: middle;
}

path.exampleLabelClickArea.selected {
    opacity: 0.0 !important;
}

.exampleLabelClickArea {
    opacity: 0.0 !important;
}

.typelabel text {
    fill: #cccccc;
}