/*____COLORS____*/
/*____MEDIA QUERY BREAKPOINTS____*/
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

button {
  -webkit-appearance: none !important; }
  button:focus {
    outline: none !important; }
  button:active {
    box-shadow: none !important; }

div > :not(p):not(span):not(i), *:hover {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

a, a:hover {
  text-decoration: none; }

::selection {
  text-shadow: none;
  background-color: #626262;
  color: #FFF; }

::-moz-selection {
  text-shadow: none;
  background-color: #626262;
  color: #FFF; }

::-webkit-scrollbar {
  width: 6px;
  background-color: #f1f1f1; }

body::-webkit-scrollbar {
  width: 7px !important;
  background-color: #EEEEEE; }

::-webkit-scrollbar-track {
  border: 6px; }

body::-webkit-scrollbar-track {
  border: none; }

::-webkit-scrollbar-thumb {
  background-color: #424242 !important;
  border-radius: 0px !important;
  border: none; }

::-webkit-scrollbar-thumb:hover {
  background-color: #333 !important; }

::-webkit-scrollbar-thumb:active {
  background-color: #616161 !important; }

body {
  font-family: "Segoe UI Light", "open sans", Calibri, sans-serif;
  min-width: 320px; }
  @media (max-width: 320px) {
    body {
      overflow-x: scroll; } }
  body .noControls #ruler, body .noControls #logo, body .noControls #site_content > * {
    display: none; }
  body .noControls #brand, body .noControls #site_content > #canvas {
    display: block; }
  body .noControls #site_content, body .noControls #site_content > * {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important; }

#brand {
  position: absolute;
  left: 15px;
  bottom: 15px;
  cursor: pointer;
  display: none; }
  #brand:hover {
    text-decoration: underline; }

#site_content {
  width: 100%;
  height: 100%;
  padding-top: 50px; }

#canvas {
  width: 100%;
  height: 100%; }

.button {
  background-color: #005E81;
  color: #FFF;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  padding-left: 40px;
  padding-right: 40px;
  border: none; }
  .button:hover, .button:active, .button:focus {
    background-color: #0E5068;
    color: #FFF; }

.p0 {
  padding: 0; }

.m0 {
  margin: 0; }

.bottom-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }
  @media (min-width: 768px) {
    .bottom-controls {
      width: auto;
      bottom: 25px;
      left: 25px; } }
  .bottom-controls button {
    font-size: 1.1em;
    height: 50px;
    width: 50%;
    float: left; }
    @media (min-width: 768px) {
      .bottom-controls button {
        height: 40px;
        width: auto;
        float: none; } }

.side-controls {
  position: fixed;
  bottom: 75px;
  right: 25px;
  font-size: .8em; }
  @media (min-width: 768px) {
    .side-controls {
      bottom: 25px; } }
  .side-controls .side-controls-toggle {
    font-size: 1.5em;
    cursor: pointer;
    color: #FFF;
    background-color: #005E81;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box; }
    .side-controls .side-controls-toggle:hover {
      background-color: #0E5068;
      color: #FFF; }
    @media (min-width: 768px) {
      .side-controls .side-controls-toggle {
        display: none; } }
  .side-controls button {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box; }
    .side-controls button span {
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex; }
  .side-controls .side-controls-inner, .side-controls .more-settings {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: space-between;
    flex-direction: column; }
  .side-controls .side-controls-inner button.side-button-large {
    -webkit-transform: translateX(250px);
    -moz-transform: translateX(250px);
    -o-transform: translateX(250px);
    transform: translateX(250px); }
    @media (min-width: 768px) {
      .side-controls .side-controls-inner button.side-button-large {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); } }
    .side-controls .side-controls-inner button.side-button-large:nth-child(2) {
      -webkit-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.15s;
      -moz-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.15s;
      -ms-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.15s;
      -o-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.15s;
      transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.15s; }
    .side-controls .side-controls-inner button.side-button-large:nth-child(1) {
      -webkit-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0s;
      -moz-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0s;
      -ms-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0s;
      -o-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0s;
      transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0s; }
  .side-controls .more-settings button {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px); }
    .side-controls .more-settings button:nth-child(3) {
      -webkit-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0s, opacity 0.2s linear 0s;
      -moz-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0s, opacity 0.2s linear 0s;
      -ms-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0s, opacity 0.2s linear 0s;
      -o-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0s, opacity 0.2s linear 0s;
      transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0s, opacity 0.2s linear 0s; }
    .side-controls .more-settings button:nth-child(2) {
      -webkit-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.1s, opacity 0.2s linear 0.1s;
      -moz-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.1s, opacity 0.2s linear 0.1s;
      -ms-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.1s, opacity 0.2s linear 0.1s;
      -o-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.1s, opacity 0.2s linear 0.1s;
      transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.1s, opacity 0.2s linear 0.1s; }
    .side-controls .more-settings button:nth-child(1) {
      -webkit-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.2s, opacity 0.2s linear 0.2s;
      -moz-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.2s, opacity 0.2s linear 0.2s;
      -ms-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.2s, opacity 0.2s linear 0.2s;
      -o-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.2s, opacity 0.2s linear 0.2s;
      transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.2s, opacity 0.2s linear 0.2s; }
  .side-controls .more-settings.open button {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
    .side-controls .more-settings.open button:nth-child(1) {
      -webkit-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0s, opacity 0.2s linear 0s;
      -moz-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0s, opacity 0.2s linear 0s;
      -ms-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0s, opacity 0.2s linear 0s;
      -o-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0s, opacity 0.2s linear 0s;
      transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0s, opacity 0.2s linear 0s; }
    .side-controls .more-settings.open button:nth-child(2) {
      -webkit-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.1s, opacity 0.2s linear 0.1s;
      -moz-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.1s, opacity 0.2s linear 0.1s;
      -ms-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.1s, opacity 0.2s linear 0.1s;
      -o-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.1s, opacity 0.2s linear 0.1s;
      transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.1s, opacity 0.2s linear 0.1s; }
    .side-controls .more-settings.open button:nth-child(3) {
      -webkit-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.2s, opacity 0.2s linear 0.2s;
      -moz-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.2s, opacity 0.2s linear 0.2s;
      -ms-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.2s, opacity 0.2s linear 0.2s;
      -o-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.2s, opacity 0.2s linear 0.2s;
      transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.2s, opacity 0.2s linear 0.2s; }
  .side-controls.open {
    align-items: flex-end;
    right: 25px;
    bottom: 75px; }
    .side-controls.open .side-controls-inner button.side-button-large {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
      .side-controls.open .side-controls-inner button.side-button-large:nth-child(1) {
        -webkit-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0s;
        -moz-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0s;
        -ms-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0s;
        -o-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0s;
        transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0s; }
      .side-controls.open .side-controls-inner button.side-button-large:nth-child(2) {
        -webkit-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.15s;
        -moz-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.15s;
        -ms-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.15s;
        -o-transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.15s;
        transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.15s; }

.left-rounded-example-btn {
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  background-clip: padding-box; }
  @media (min-width: 768px) {
    .left-rounded-example-btn {
      -webkit-border-bottom-left-radius: 20px;
      border-bottom-left-radius: 20px;
      -webkit-border-top-left-radius: 20px;
      border-top-left-radius: 20px;
      background-clip: padding-box; } }

.right-rounded-example-btn {
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  background-clip: padding-box; }
  @media (min-width: 768px) {
    .right-rounded-example-btn {
      -webkit-border-bottom-right-radius: 20px;
      border-bottom-right-radius: 20px;
      -webkit-border-top-right-radius: 20px;
      border-top-right-radius: 20px;
      background-clip: padding-box; } }

.side-button-small {
  width: 40px;
  height: 40px;
  padding: 0;
  margin-top: 15px; }

.side-button-large {
  width: 80px;
  height: 80px;
  padding: 0;
  margin-top: 20px; }

.navbar {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  border: none;
  color: #FFF;
  background-color: #005E81;
  font-family: "Segoe UI Light"; }
  .navbar .icon-bar {
    background-color: #FFF; }
  .navbar li {
    text-align: center; }
    .navbar li a {
      color: #FFF;
      font-size: 1.3em;
      -webkit-transition: all 0.35s;
      -moz-transition: all 0.35s;
      transition: all 0.35s; }
      .navbar li a:hover {
        background: #2D2D2D;
        background: rgba(45, 45, 45, 0.3);
        -webkit-transition: all 0.35s;
        -moz-transition: all 0.35s;
        transition: all 0.35s; }

.modal-content {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box; }

.modal-header {
  background-color: #005E81;
  color: #FFF;
  border: 0; }
  .modal-header button {
    color: #FFF;
    text-shadow: none;
    opacity: 1; }
    .modal-header button:hover {
      color: #FFF; }

.modal-body .horizontal-line {
  border-bottom: 1px solid #005E81; }
.modal-body h5 {
  color: #005E81;
  font-size: 1.2em; }

.modal-inner {
  padding-left: 50px;
  padding-right: 50px; }

.modal-footer {
  border: 0; }

.modal-lg {
  width: 90%; }

/*# sourceMappingURL=styles.css.map */
